@import "@material/button/mdc-button";


#head{
  display : block;
  height : 60px;
  width : 100%;
  position : relative;
  background-color : blue;

  img{
    display : block;
    position : absolute;
    width : 15%;
    height : 100%;
    background-color : white;
    cursor : pointer;

  }

}

.copyright{
  position : absolute;
  bottom : 0px;
  padding-left : 36%;
}

.submit{
  position : absolute;
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
  border : 1px solid blue;
  border-radius : 20%;
  top : 80%;
  left : 45%;
}

.upload1, .upload2, .upload3{
  position : absolute;
  border-radius : 20%;
  top : 80%;
  left : 80%;
}


.imageBox{
  position : relative;
  top : 80px;
  height : 300px;

  .image1, .image2, .image3{
  text-align : center;
  position : relative;
  color : #993300;
  left : 83px;
  top : 300px;
}
.image2{
position : relative;
left : 465px;
}
.image3{
position : relative;
left : 845px;
}

 #myImg1, #myImg2, #myImg3{
  display : block;
  position : absolute;

  top : 20%;


 }
}
.uploadImage1, .uploadImage2, .uploadImage3, #crop{
@include mdc-button-ink-color(teal);
@include mdc-states(teal);
position : absolute;
bottom : 0px;
left : 50px;
}

 #crop{
   bottom : 72px;
   left : 70%;
 }

#canvas1{
  position : absolute;
  top : 100px;
  left : 0px;
}

#canvas2{
  position : absolute;
  top : 100px;
  left : 450px;
}

#canvas3{
  position : absolute;
  top : 100px;
left : 900px;
}


.save1{
  position : absolute;
  top : 450px;
  left : 135px;
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
  border : 1px solid black;
}


.save2{
  position : absolute;
  top : 450px;
  left : 515px;
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
  border : 1px solid black;
}


.save3{
  position : absolute;
  top : 450px;
  left : 895px;
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
  border : 1px solid black;
}
